@import 'nib'
@import url('http://fonts.googleapis.com/css?family=Lato:400,700');
@import url('http://fonts.googleapis.com/css?family=Lora:700');

global-reset()

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
}

html {
  font-size: 1rem;
}

body {
  line-height: 1.6;
  background: #333;
  font-family: Lato, sans-serif;
}

h1 {
  font-size: 50px;
  color: #BD1919;
  font-family: Lora, sans-serif;
  margin-bottom: 20px;
}

h3 {
  font-size: 32px;
  color: #fff;
  font-family: Georgia;
}

h4 {
  font-size: 20px;
  color: #ddd;
  font-family: Georgia;
  margin-left: -20px;
}

.intro {
  display: flex;
  flex-direction: column;
  margin-top: 170px;
  text-align: center;
}

.Header {
  margin-bottom: 1rem;
}

.Grid {
  display: flex;
  flex-wrap: wrap;
}

.GridItem {
  flex: 0 0 48%;
  margin: 1%;
  background: white;
  box-shadow: 0px 3px 0 rgba(231, 76, 60, 0.5);
  padding: 1rem;
  transition: transform .2s;
  position: relative;

  .blockquote {
    color: rgba(0,0,0,0.8);
  }

  .author {
    color: rgba(0,0,0,0.4);
  }

  button {
    color: #787878;
    opacity: 0.3;
    position: absolute;
    top: 4px;
    right: 4px;
    outline: none;
    opacity: 0;

    &:hover {
      opacity: 0.8;
    }
  }

  .share-link {
    color: #787878;
    opacity: 0.3;

    &:hover {
      opacity: 0.8;
    }
  }
}


.ListItem {
  margin: 1%;
  padding: 1rem;
  background: #444;
  color: #D2D2D2;
  transition: transform .2s;
  border-bottom: 1px;
  box-shadow: 0px 2px 0 rgba(231, 76, 60, 0.5);

  &:hover {
    transform: scale(0.98);
  }
}

.Search-input {
  background: #fff;
  width: 100%;
  font-size: 1.4rem;
  padding: 1rem;
  border: 0;
  border-bottom: 2px solid #e74c3c;
  outline: none;
}

h2 {
  color: #eee;
  font-size: 1.5rem;
  padding: 0 1rem;
}

.quote {
  font-style: italic;
  font-family: Georgia;
}

.Button--transparent {
  border: 0;
  background: transparent;
  cursor: pointer;
  transition: transform .1s;
  color: #fff;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.rc-dialog {
  max-width: 960px;
  background: rgba(255, 255, 255, .9);
  margin: 0 auto;
}

.rc-dialog-body {
  padding: 1rem;
}

.rc-dialog-mask {
  background: #000;
}

label, input[type=text] {
  display: block;
}

input, textarea {
  border: 2px solid #ddd;
  padding: .2rem;
  font-size: 1.1rem;
}

.u-split-view {
  padding: 0 10px;
  display: flex;

  > div {
    padding: 0 10px;
    flex: 0 0 50%;
  }
}

form {
  padding: 1rem;
  input[type=text], textarea, button {
    width: 100%;
    margin: .2rem;
    padding: .5rem;
  }
  .private {
    color: #fff;
  }
}

button {
  background: #e74c3c;
  color: #fff;
  border: 0;
  font-size: .9rem;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}
